VITE_API_BASE_URL=https://rozgarplus.onrender.com
VITE_SUPABASE_URL=https://tpenflckyuvddtpxvkwm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwZW5mbGNreXV2ZGR0cHh2a3dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0ODg3NjMsImV4cCI6MjA5NjA2NDc2M30.OdiZhKJghcssdKnGWDTmUCghWl-Dd48eha78Kg8V-lw
DATABASE_URL=postgresql://postgres:Hritik%409717@db.tpenflckyuvddtpxvkwm.supabase.co:5432/postgres
SESSION_SECRET=jobnest-secret-key